<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <connectionString value="Server=localhost;Index=log;Port=9200;" />
    <bufferSize value="0" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="ElasticSearchAppender" />
  </root>
  <!--<AuthenticationMethod>
    --><!--For basic authentication purposes--><!--
    <Basic>
      <Username>elastic</Username>
      <Password>changeme</Password>
    </Basic>
    <Aws>
      <Aws4SignerSecretKey>Secret</Aws4SignerSecretKey>
      <Aws4SignerAccessKey>AccessKey</Aws4SignerAccessKey>
      <Aws4SignerRegion>Region</Aws4SignerRegion>
    </Aws>
  </AuthenticationMethod>-->
</log4net>

  
<!--<log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="../../../App_Data/Logs/Logs.txt" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10000KB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
        </layout>
    </appender>
    <root>
        <appender-ref ref="RollingFileAppender" />
        <level value="DEBUG" />
    </root>
</log4net>-->